# Flask
ENV=dev
SECRET_KEY=a-very-very-secret-key

# Database (PostgreSQL or SQLite)
DATABASE_URL=sqlite:///udf.db

# Data Providers
BINANCE_API_KEY=
BINANCE_API_SECRET=
LONGPORT_ACCESS_TOKEN=
ALLTICK_TOKEN=
POLYGON_API_KEY=
FMP_API_KEY=
FINNHUB_API_KEY=
